body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 0;
    margin: 5px 10px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-image: url("./assets/images/whiteGeoBckREV.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

/* navigation */
.nav-bar {
    background-color: lightcyan;
    display:inline-flex;
    position:sticky;
    align-items: center;
    justify-content: center;
}

.nav-list {
    list-style-type: none;
    width: 900px;
    display:flex;
    margin: 15px 5px;
}

.nav-list li a {
    display: block;
    margin-left: 3px;
    float: left;
    padding: 2px;
    text-decoration: none;
}
