:root {
    --main-color: #0D0D0D;
    --accent-one: #2445A6;
    --accent-two: #F2CA52;
    --accent-three: #F27405;
    --pop: #D91818;
}
body {
    height: 100%;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color:lightsteelblue;
}

header {
    width: 100%;
    padding: 0;
    background-image: url("./assets/images/Geo1.jpg");
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

header h1 {
    color: var(--accent-three);
    padding: 0 15px;
    align-items: left;
}

/* navigation */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-decoration: none;
}

/* hero image */
.hero-image {
    background-image: url("./assets/images/Geo1.jpg");
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-25%, -25%);
    color:lightsteelblue;
}

