:root {
    --main-color: #011C40;
    --accent-one: #9bc4e2;
    --accent-two: #FF931E;
    --accent-three: #8499B1;
    --pop: #D90368;
}
    html {
  scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color:lightsteelblue;
    background: radial-gradient(circle farthest-side, #FFF, var(--accent-one));
}

header {
    padding: 20px 35px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    border-bottom: 5px solid var(--accent-three);
}

header h1 {
    color: var(--accent-three);
    padding: 0 15px;
    align-items: left;
}

header img {
  width: 115%;
}

/* navigation */
.nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--accent-one);
    text-shadow: 0 0 10px rgba(185, 185, 185, 0.5);
    text-decoration: none;
}

.FlexWrap {
  display:flex;
  flex-direction: column;
}

section #about {
  padding: 65px 0;
}

.container-about {
  height: 400px;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 10px;
  justify-content: center;
  color: var(--main-color);
  font-size: 2rem;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}

.container-about h4 {
  color: var(--main-color);
  font-size:28px;
  text-align: center;
  margin-left: 40px;
  margin-bottom: 10px;
  justify-content: center;
}

.container-about img {
  width: 10%;
  clip-path: circle(45%);
}
/* work cards */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

#work h3,
#contact h3 {
  color:var(--main-color);
  text-align: center;
  font-size: 38px;
  text-transform: uppercase;
}

.flex-item-one {
    width: 75%;
    border-radius: 5px;
    margin: 0 auto;
    border: 4px solid var(--main-color);
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 15px;
  /* tell background to fit box no matter what */
    background-size: cover;
/* crop it at the center */
    background-position: center;

  /* padding top and bottom 20px, 0 for left/right */
    padding: 10px 20px;

  /* set minimum heigh value so there's room */
    min-height: 250px;

  /* rather than use position...use flexbox and create column instead of row */
    display: flex;
    flex-direction: column;
}

.flex-item {
  width: 45%;
  border-radius: 5px;
  border: 4px solid var(--main-color);
  background-color: white;
  font-size: 24px;
  font-weight: bolder;
  margin: 0 auto 5px;
  justify-content: center;
  align-items: center;

/* for files in local images folder, use url('../images/file-name.jpg') */

/* tell background to fit box no matter what */
  background-size: cover;
/* crop it at the center */
  background-position: center;

/* padding top and bottom 20px, 0 for left/right */
  padding: 20px 20px;

/* set minimum heigh value so there's room */
  min-height: 250px;

/* rather than use position...use flexbox and create column instead of row */
  display: flex;
  flex-direction: column;
}

.flex-item span, .flex-item-one span {
    /* pushes element to bottom of flex item */
    margin-top: auto;
    width: 100%;
    background-color: white;
    color: var(--main-color);
    padding: 5px 5px;
    text-align: center;
}

.flex-item-one img{
  width: 100%;
}

.flex-item img {
  width: 100%;
}

/*footer style*/
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:var(--main-color);
    text-align: center;
    color:var(--pop);
}

footer ul {
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    text-decoration: none;
}

footer ul li a {
    color:white;
    font-weight: bolder;
    font-size: 24px;
    text-decoration: none;
    color: var(pop);
    padding: 10px 15px;
    text-shadow: 0 0 10px rgba(185, 185, 185, 0.25);
    text-decoration: none;
    padding: 5px 5px;
}

footer img {
  width: 75%;
}

#contact h3 {
  color:var(--accent-one);
}

/* MEDIA QUERY FOR SMALLER DESKTOP AND SMALLER SCREENS */
@media screen and (max-widht: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
}

header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

footer h2, footer div {
    text-align: center;
    width: 100%;
}

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 780px) {
  section {
      padding: 30px 15px;
  }

  .flex-container{
    flex: 2 100%;
    text-align: center;
    justify-content: center;
}

  .flex-item-one {
      flex: 1 100%;
      text-align: center;
  }

  .flex-item-one img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
  }

  .flex-item {
      flex: 100%;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-form button {
      width: 100%;
  }
  
  .section-title {
      width: 95%;
  }
  
  .intro p {
      width: 100%;
  }
  
  .trainer {
      flex: 0 100%;
  }
  
  .contact-info {
      text-align: center;
  }
  
  .contact-info > * {
      flex: 0 100%;
  }
  
  .contact-form {
      order: 3;
  }
}