:root {
    --main-color: #2E294E;
    --accent-one: #9bc4e2;
    --accent-two:  #FFD400;
    --accent-three: #8499B1;
    --pop: #D90368;
}
    html {
  scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color:lightsteelblue;
}

header {
    padding: 20px 35px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    border-bottom: 5px solid var(--accent-one);
}

header h1 {
    color: var(--accent-three);
    padding: 0 15px;
    align-items: left;
}

/* navigation */
.nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--accent-one);
    text-shadow: 0 0 10px rgba(185, 185, 185, 0.5);
    text-decoration: none;
}

/* hero image
.hero-image {
    background-image: url("../images/Geo1.jpg");
}
*/

.hero-text {
    text-align: left;
    position: absolute;
    transform: translate(-25%, -25%);
    color: var(--accent-three);
}

section #about {
  display:inline-block;
  padding: 65px 0;
}

#img {
  max-width: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.container {
  height: 400px;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 10px;
  box-sizing:border-box;
  justify-content: center;
}

.container h3, h4 {
  color: var(--main-color);
  font-size:28px;
  text-align: center;
  margin-left: 40px;
  margin-bottom: 10px;
  justify-content: center;
}
/* work cards */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.flex-item {
    width: 45%;
    border-radius: 5px;
    border: 4px solid var(--main-color);
    background-color: var(--accent-one);
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 15px;

  /* for files in local images folder, use url('../images/file-name.jpg') */
    background-image: url('https://via.placeholder.com/1000/393b4f/fb3e55?text=Placeholder');

  /* tell background to fit box no matter what */
    background-size: cover;
/* crop it at the center */
    background-position: center;

  /* padding top and bottom 20px, 0 for left/right */
    padding: 20px 20px;

  /* set minimum heigh value so there's room */
    min-height: 250px;

  /* rather than use position...use flexbox and create column instead of row */
    display: flex;
    flex-direction: column;
}

.flex-item-one {
    width: 75%;
    border-radius: 5px;
    margin-left: 25px;;
    border: 4px solid var(--accent-one);
    background-color: white;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 15px;

  /* for files in local images folder, use url('../images/file-name.jpg') */
    background-image: url('https://via.placeholder.com/1000/393b4f/fb3e55?text=Placeholder');

  /* tell background to fit box no matter what */
    background-size: cover;
/* crop it at the center */
    background-position: center;

  /* padding top and bottom 20px, 0 for left/right */
    padding: 10px 20px;

  /* set minimum heigh value so there's room */
    min-height: 250px;

  /* rather than use position...use flexbox and create column instead of row */
    display: flex;
    flex-direction: column;
}

.flex-item span, .flex-item-one span {
    /* pushes element to bottom of flex item */
    margin-top: auto;
    width: 100%;
    background-color: white;
    color: var(--accent-three);
    padding: 10px 5px;
    text-align: center;
}

/*footer style*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:var(--main-color);
    text-align: center;
    color:var(--pop);
}

footer ul {
    display: flex;
    justify-content:space-around;
    align-items:center;
    text-decoration: none;
}

footer ul li a {
    color:white;
    font-weight: bolder;
    font-size: 24px;
    text-decoration: none;
    color: var(pop);
    padding: 10px 15px;
    text-shadow: 0 0 10px rgba(185, 185, 185, 0.25);
    text-decoration: none;
}
